.container{
    display: flex;
    align-items: center;
    gap: 1rem;

    button{
        width: 100%;
        background-color: var(--clr-dark-fade);
        border-radius: 10px;
        border: 2px solid transparent;
        padding: 2rem;
        padding-bottom: 1rem;
        
        &:hover{
            border: 2px solid white;
        }

        span{
            display: block;
        }

        svg{
            font-size: 3rem;
            margin-bottom: 0.5rem;
        }

        progress {
            height: 5px;
            width: 100px;
            background-color: black;
            
            &::-moz-progress-bar {
                background: black;
            }
                      
            &::-webkit-progress-value {
                background: white;
            }
            
            &::-webkit-progress-bar {
                background: var(--clr-dark-fade);
            }
        }

    }

}

.started{
    svg{
        animation: glow 3s linear infinite;
    }

    @keyframes glow {
        0% {
            opacity: 1;
        }
        50% {
            opacity:  0.3;
        }
        100% {
            opacity: 1;
        }
    }
}

@media (max-width: 420px){
    .container{
        display: block;
        button{
            margin: 1rem 0;
        }
    }
}