.container{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    border-top: 1px solid rgb(31, 31, 31);

    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;

        a{
            margin-left: 0.5rem;
        }
    }

}