.container{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;

    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        border-top: 1px solid rgb(31, 31, 31);
        margin: 0.5rem;
        div{
            a{
                display: block;
                text-align: right;
            }
        }
    }

}