.container{
    padding: 2rem;

    .results{
        margin: 0.5rem 0;
    }

    section{
        margin: 2rem 0;
    }

    h2{
        border-bottom: 1px solid var(--light);
        padding: 0.5rem 0;
    }

    iframe{
        padding: 0.5rem;
        width: 100%;
        height: 300px;
        border: 2px solid var(--dark);
    }
}