.container{
    padding: 1rem;
    display: flex;
    align-items: center;justify-content: space-between;
    a, button{
        padding: 0.5rem;
        transition: 0.3s ease-in-out;
        border-bottom: 1px solid transparent;
        &:hover{
            border-bottom: 1px solid white;
        }
    }
}