.container{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div{
        display: flex;
        align-items: center;
        *{
            cursor: pointer;
        }
    }
    a, button{
        display: block;
        padding: 0.5rem;
        transition: 0.3s ease-in-out;
        border-bottom: 1px solid transparent;
        &:hover{
            border-bottom: 1px solid white;
        }
    }
}