.container{
    padding: 1rem;
    text-align: center;
    a{
        padding: 1rem;
        transition: 0.3s ease-in-out;
        border-bottom: 1px solid transparent;
        &:hover{
            border-bottom: 1px solid white;
        }
    }
}