.container {
    max-width: 1000px;
    margin: auto;
    
    section{
        margin-bottom: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            text-align: center;
            font-size: 2rem;
        }
    }

    .image{
        img {
            width: 200px;
            height: 200px;
            margin-top: 3rem;
        }
    }

    .credits{
        a{
            display: block;
            padding: 0.5rem 0;
            text-align: center;
        }
    }

    .downloads{
        div{
            text-align: center;
        }
        svg{
            font-size: 4rem;
            cursor: pointer;
        }
        button{
            padding: 1rem;
            justify-content: center;
            margin: 1rem auto;
            background-color: var(--dark);
            &:hover{
                opacity: 0.8;
            }
        }
        .loading{
            animation: fade ease-in-out 2s infinite;
        }
        @keyframes fade {
            0%{
                opacity: 1;
            }
            50%{
                opacity: 0.1;
            }
            100%{
                opacity: 1;
            }
        }
    }

}
