.container {
    max-width: 600px;
    margin: auto;
    
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 200px;
            height: 200px;
            margin-top: 3rem;
            mix-blend-mode: screen;
        }
    }
    
    section{    
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        svg{
            font-size: 4rem;
            display: flex;
            align-items: center;
        }
    }

}
