.container{
    width: 100%;

    input{
        padding: 0.5rem;
        width: 100%;
        transition: 0.2s ease-in-out;
        box-sizing: border-box;
        border: 1px solid var(--light);
        background-color: var(--light);;
        margin-bottom: 0.5rem;
        
        &:hover{
            border-color: var(--primary);
        }
    }
    input[type="color"] {
        -webkit-appearance: none;
        height: 36px;
        cursor: pointer;
    };

    p{
        width: 100%;
        font-weight: 200;
        span, small{
            color: var(--text-light)
        }
    }

    .double{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .error{
        border: 1px solid var(--red);
    }

}