:root{      
    --primary: rgb(136, 70, 222);
    --light: hsla(240, 1%, 25%, 0.839);
    --dark: hsl(0, 0%, 9%);

    --background: #0a0a0a;
    --foreground: #ededed;

    --light-shade: rgb(135, 135, 135);
    --dark-shade:hsl(224 15% 8%);

    --red: #ec5c5c;
    --blue: rgb(36, 116, 245);
    --green: rgb(81, 221, 112);
    --yellow: yellow;
}