:root{      
    --primary: rgb(136, 70, 222);
    --light: hsl(215 10% 60%);
    --dark: hsla(240, 1%, 19%, 0.525);

    --background: #0a0a0a;
    --foreground: #ededed;

    --light-shade: rgb(195, 192, 192);
    --dark-shade:hsl(224 15% 8%);

    --red: #ec5c5c;
    --blue: rgb(36, 116, 245);
    --green: rgb(81, 221, 112);
    --yellow: yellow;
}