.container{
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;

    .credits{
        margin-bottom: 1rem;
        h2{
            margin-bottom: 0.5rem;
        }
       div{
            display: flex;
            align-items: center;
            width: 100%;
            gap: 0.5rem;
            button{
                width: 100%;
                padding: 0.5rem 1rem;
                background-color: var(--dark);
                border-radius: 5px;
                border: 2px solid var(--light);
                &:hover{
                    border: 2px solid var(--light);
                    background-color: var(--primary);
                }
            }
            .selected{
                background-color: var(--primary);
            }
       }
    }
}