.container {
  position: relative;
  padding: 0.5rem;
  margin: 0.5rem auto;
  background-color: var(--dark);
}

.red{
  border: 1px solid var(--red);
}

.green{
  border: 1px solid var(--green);
}

.dark{
  border: 1px solid var(--dark-shade);
}