.container{
    width: 100%;

    .labels{
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            color: var(--text-light);
        }
    }

    select {
        padding: 0.5rem;
        width: 100%;
        transition: 0.2s ease-in-out;
        box-sizing: border-box;
        border: 1px solid var(--light);
        background-color: var(--light);;
        outline: none;
        margin-bottom: 0.5rem;
        
        &:hover{
            border: 1px solid var(--primary);
        }
    }

    option{
        display: block;
        align-items: center;
        span{
            font-size: 0.9rem;
        }
    }
}